extends layout

block content
  h1 Hi, I'm Todd!
  p This is my blog. The whole goal of this is to make me more available to the other students living in Friley Hall.
  p On my blog, you can find announcements, cool activities, and general information.
  p I hope you enjoy your time here at Iowa State, and have a rad time in Friley Hall!
  a(href='/gpg/') Sign my GPG Key!